<button class="btn" (click)="save()">Guardar datos</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <button class="btn btn-block" type="button" (click)="getTenCountries()">
          Cargar nuevos Paises
        </button>
      </th>
      <th>
        <button
          class="btn btn-block"
          type="button"
          (click)="sortByCountryButton()"
        >
          Ordenar por Pais ↓
        </button>
      </th>
      <th>
        <button
          class="btn btn-block"
          type="button"
          (click)="sortByCityButton()"
        >
          Ordenar por Capital ↓
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td class="flag">
        <img src="{{ post.flag }}" alt="bandera" />
      </td>
      <td>{{ post.name }}</td>
      <td>{{ post.capital }}</td>
    </tr>
  </tbody>
</table>
